.about__container{
    margin-left: 700px;
    position:absolute;
    bottom: 380px;
    display: inline;
    width: 454px;
  
    
  }
  
  .about__title {
    font-size: 26px;
    font-weight: 700;
    font-weight: bold;
    
  }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    opacity:0.7;
   line-height:1.5;
   
  
  }
  .about__price-title{
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
    
  
    
  }
  .about__price {
    padding-top: 20px;
    font-size: 26px;
    font-weight: 500;
    font-weight: bold;
  }
  
  .about__button {
    background-color: #d64374;
    border-radius: 5px;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border: 0;
  }
  .img-ice{
      width: 580px;
     
  
  }